<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sfotipy</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header class="bg-index">
          <div class="navigation">
            <nav class="menu"><ul>
              <li><a href="#">Top Hits</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settins</a></li>
              <li><a href="#">My like</a></li>
              <li><a href="#">PlayList</a></li>
              <li><a href="#">Logout</a></li>
            </ul></nav>
            <div class="head">
              <a class="left"href="#"><span class="icon-ants white right"></span></a>
              <form class="left" action="index.html" method="get">
                <input class="input"type="text" name="search" value="">
              </form>
              <a class="right"href="#"><span class="icon-menu white right"></span></a>
              <a class="right"href="#"><span class="icon-copi white right"></span></a>
            </div>
          </div>
          <figure class="image center-block">
            <img src="img/logo.png" alt="Sfotipy"/>
          </figure>
        <h2 class="white center-text subtitle">Toda la musica que te gusta,</br>en todas partes</h2>
        <div class="login-social">
          <a class="social facebook center-block white"href="#">
            <span class="icon-facebook"></span><p>Conéctate con facebook</p>
          </a>
          <a class="social twitter center-block white"href="#">
            <span class="icon-twitter"></span><p>Conéctate con twitter</p>
          </a>
          <div class="login">
            <a class="link left" href="login">Login</a>
            <a class="link right"href="">Create account</a>
          </div>
        </div>
  </header>
  <section class="main">
    <article class="service">
      <figure class="circle left"><img src="img/i-1.png" alt="escucha">
      </figure>
      <div class="text right">
        <h3 class="gris_oscuro">Escucha</h3>
        <p class="gris_claro">Lorem ipsum dolor sit amet,</br> consectetur adipiscing elit.</p>
      </div>
    </article>
    <article class="service">
      <figure class="circle"><img src="img/i-2.png" alt="conparte">
      </figure>
      <div class="text left">
        <h3 class="gris_oscuro">Comparte</h3>
        <p class="gris_claro">Lorem ipsum dolor sit amet,</br> consectetur adipiscing elit.</p>
      </div>
    </article>
    <article class="service">
      <figure class="circle"><img src="img/i-3.png" alt="crea play list">
      </figure>
      <div class="text">
        <h3 class="gris_oscuro">Crea Play List</h3>
        <p class="gris_claro">Lorem ipsum dolor sit amet,</br> consectetur adipiscing elit.</p>
      </div>
    </article>
  </section>
  <footer class="footer">
    <div class="content">
      <span class="icon-sfotipy white left"></span>
      <a class="link" href="#">about us</a>
      <a class="link" href="#">Legal</a>
    </div>
  </footer>
</body>
</html>
