<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Top Hits</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <header class="header">
    <nav class="menu"><ul>
      <li><a href="#">Top Hits</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Settins</a></li>
      <li><a href="#">My like</a></li>
      <li><a href="#">PlayList</a></li>
      <li><a href="#">Logout</a></li>
    </ul></nav>
    <h1>Top Hits</h1>
    <a href="#"><span class="icon-menu"></span></a>
  </header>
  <section class="main">
    <article class="song">
      <figure class="cover"><img src="img/songs/test.jpg" alt=""></figure>
      <div class="information">
        <p class="artist">Girl</p>
        <p class="name">Pharrel William</p>
      </div>
    </article>
    <article class="song">
      <figure class="cover"><img src="img/songs/test.jpg" alt=""></figure>
      <div class="information">
        <p class="artist">Girl</p>
        <p class="name">Pharrel William</p>
      </div>
    </article>
    <article class="song">
      <figure class="cover"><img src="img/songs/test.jpg" alt=""></figure>
      <div class="information">
        <p class="artist">Girl</p>
        <p class="name">Pharrel William</p>
      </div>
    </article>
    <article class="song">
      <figure class="cover"><img src="img/songs/test.jpg" alt=""></figure>
      <div class="information">
        <p class="artist">Girl</p>
        <p class="name">Pharrel William</p>
      </div>
    </article>
    <article class="song">
      <figure class="cover"><img src="img/songs/test.jpg" alt=""></figure>
      <div class="information">
        <p class="artist">Girl</p>
        <p class="name">Pharrel William</p>
      </div>
    </article>
    <article class="song">
      <figure class="cover"><img src="img/songs/test.jpg" alt=""></figure>
      <div class="information">
        <p class="artist">Girl</p>
        <p class="name">Pharrel William</p>
      </div>
    </article>
  </section>
</body>
</html>
